.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: aliceblue;
}
.Nav-logo{
    font-size: 42px;
    font-family: outfit;
    font-weight: 500;
}
.Nav-menu {
    display: flex;
    align-items: center;
    gap: 90px;
    font-size: 18px;
    cursor: pointer;
}
.nav-contact{
    padding: 10px 38px;
     background-color: #fff;
    border-radius: 50px;
    color:#252525;
}