*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: none;
    object-fit: cover;
}
